html {
       scroll-behavior: smooth;
}
body {
        background-color: #242424;
        font-family: 'Forum';
        font-weight: 100;
}
     
#myself {
        background-color: #282828;
        color: #E7D7AD;
        margin: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 18px;
        width: 300px;
}
#courses {
    background-color: #282828;
    color: #E7D7AD;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 18px;
    width: 300px;
}
#projects {
   background-color: #282828;
   color: #E7D7AD;
   margin: 10px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-radius: 18px;
   width: 300px;
}
#contact {
   background-color: #282828;
   color: #E7D7AD;
   margin: 10px;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-radius: 18px;
   width: 300px;
}

a{
   color: #E7D7AD;
}

header {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: #689D6A;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-top: 0px;
   border-radius: 18px;
   width: 300px;
}
nav {
   padding-right: 10px;
   padding-bottom: 10px;
}
.a1,.a2,.a3,.a4 {
   padding-right: 25px;
   font-size: 20px;
   text-decoration: none;
   color: #242424;
}
 
.a1:hover {
   text-decoration: underline;
}

.a2:hover {
   text-decoration: underline;
}

.a3:hover {
   text-decoration: underline;
}

.a4:hover {
   text-decoration: underline;
}

h2 {
    font-size: 37px;
}

#p{
   font-size: 65px;
   margin-top:10px;
   margin-right: 40px;
   margin-bottom: 10px;
}

li {
   list-style: none;
}
p {
   font-size: 20px;   
}

.div1,.div2,.div3 {
    background-color: #689D6A;
    color: #242424;
    border-radius: 8px;
    font-size: 19px;
    width: auto;
    height: auto;
    max-width: 1800px;
    min-width: 300px;
    padding: 20px;
}

.but {
    background-color: #689D6A;
    height: 35px;
    width: 100px;
    border-radius: 8px;
    color: #2D2C2B;
    border: 2px solid #2D2C2B;
}

.but:hover {
    background-color: #689D6A;
    border: 2px solid #282828;
    color: #E7D7AD;
}

.text {
    background-color: #689D6A;
    color: #242424;
    border: 2px solid #282828;
    height: 35px;
    width: 250px;
    border-radius: 8px;
    padding: 10px;
}

.text::placeholder{
    color: #2D2C2B;
}

.textarea::placeholder{
    color: #2D2C2B;
}

.textarea {
    background-color: #689D6A;
    color: #E7D7AD;
    border: 2px solid #282828;
    width: 250px;
    height: 60px;
    border-radius: 8px;
    padding: 10px;
}


